<h1>Cookbook App</h1>
<hr>
<form action="/recipes" method="post">
  <p>
    <label>Recipe name</label>
    <input type="text" name="name" required>
  </p>
  <p>
    <label>Description</label>
    <input type="text" name="description" required>
  </p>
  <p>
    <label>Prep-time</label>
    <input type="text" name="prep_time" required>
  </p>
  <p>
    <label>Difficulty</label>
    <input type="text" name="difficulty" required>
  </p>
  <button>Create new recipe</button>
</form>
